<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">
    <title>Milk Tea - Survey Form (Success)</title>
</head>
<body>
    <div class="container">
    <form id="survey-form" class="form-group"> 
    <p id="description" class="description text-center">Thank you for submitting your feedback to this survey!</p>
    <p id="description" class="description text-center">Milk tea is life. Cheers!</p>
    </form>
    </div>
</body>
</html>